@use '../../lib/service.scss' as s;

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 500px;
  max-width: 850px;
  gap: 16px;
  margin: s.space(4);
  border-radius: 8px;
  padding: s.space(2);
  box-shadow: 0px 0px 10px 5px #ebe9e9;

  div {
    display: flex;
    flex-direction: column;
    gap: s.space(3);
    h1 {
      font-size: 20px;
      font-weight: 600;
    }
    div {
      font-weight: 500;
      font-size: 16px;
    }
  }

  a {
    display: block;
    text-decoration: none;
    height: fit-content;
    padding: s.space(2);
    border-radius: 8px;
    width: 200px;
    text-align: center;
    background-color: s.color('primary');
    color: s.color('text-color-secondary');
  }
}
