@use '../../lib/spotifyService.scss' as s;
@use '../../lib/spotify.scss' as spotify;

.add-button {
  display: grid;
  grid-template-columns: 92px 1fr;
  align-items: center;
  gap: s.space(6);
  color: s.color('white');
  font-size: 18px;
}

.track__list {
  background-color: #282828;
  padding: s.space(8);
}
